@import "./responsive.scss";

.container {
  // width: 1368px;
  width: 1068px;
  max-width: calc(100% - 2rem);
  margin-inline: auto;
}

.line-clamp-1,
.line-clamp-2,
.line-clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

// Dài quá thì tối đa 2 dòng và có ...
.fixed-text {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: normal;
  white-space: pre-line;
  word-break: break-word;
  &.clamp-2 {
    -webkit-line-clamp: 2;
  }
  &.clamp-3 {
    -webkit-line-clamp: 3;
  }
}

// Dài quá 1 dòng thì ...
.line-clamp-1 {
  -webkit-line-clamp: 1;
}

// Dài quá 2 dòng thì ...
.line-clamp-2 {
  -webkit-line-clamp: 2;
}

// Dài quá 3 dòng thì ...
.line-clamp-3 {
  -webkit-line-clamp: 3;
}

.custom-tippy {
  .tippy-box {
    border-radius: 0.75rem !important;
    background-color: #838383 !important;
    max-width: 15.7rem !important;
    text-align: left;

    .tippy-arrow {
      border-bottom-color: #838383 !important;
      color: #838383;
    }
  }
}

.can-not-copy {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
