body {
  margin: 0;
  padding: 0;
}

.on-click,
.on-click-1,
.on-click-2,
.on-click-3 {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.on-click:active {
  opacity: 0.8;
}

.on-click-1:active {
  color: var(--mainColor);
}

.on-click-2 {
  transition: all 0.2s ease;
}

.on-click-2:hover {
  background-color: #a8a8a877;
}

.on-click-3 {
  transition: all 0.1s ease;
}

.on-click-3:active {
  transform: scale(1.1);
}

.line-clamp-1,
.line-clamp-2,
.line-clamp-3,
.line-clamp-4 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.line-clamp-1 {
  -webkit-line-clamp: 1;
}

.line-clamp-2 {
  -webkit-line-clamp: 2;
}

.line-clamp-3 {
  -webkit-line-clamp: 3;
}

.line-clamp-4 {
  -webkit-line-clamp: 4;
}
